[submodule "xtensa-dynconfig"]
	path = xtensa-dynconfig
	url = https://github.com/jcmvbkbc/xtensa-dynconfig
	branch = original
[submodule "config-esp32s3"]
	path = esp32s3
	url = https://github.com/jcmvbkbc/config-esp32s3
	branch = master